
.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

/* BOXES */
.home-widget {
  .boxes-wrapper {
    color: $color-light;
    font-family: $font-header;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 6px;

    .top, .bottom {
      height: 120px;
      border-radius: $radius;
    }


    .top {
      width: 300px;
      background-size: cover;
      display: flex;
    }

    a {
      text-decoration: none;
      color: $color-light;
      width: 100%;
      height: 100%;
      padding: 0;
      transition: transform 1s;
    }

    a:hover {
      transform: translateY(-15%);
      opacity: 0.7;
    }
  }

  .box-right {
    background-image: url("./../../images/home/pizza-2.jpg");
  }

  .box-left {
    background-image: url("./../../images/home/pizza-1.jpg");
  }

  .bottom {
    background-color: $color-danger;
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;

    .box-title {
      margin: 0;
    }

    .box-subtitle {
      @extend .h2;
      margin: 0;
      padding-top: 6px;
    }
  }
}

/* CAROUSEL */
.main-carousel {
  margin: 100px 0;
}

.carousel-item {
  display: flex;
  width: 620px;
  height: 250px;

  .carousel-title {
    font-family: $font-header;
    font-size: 20px;
  }

  .carousel-subtitle {
    font-family: $font-text;
    font-size: 16px;
    overflow-wrap: break-word;
  }

  img {
    width: 200px;
    height: 250px;
    border-radius: $radius;
    object-fit: cover;
  }

  .carousel-photo {
    margin-right: 30px;
  }
}

.flickity-button {
  display: none;
}

/* GALLERY */

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 13px;
  grid-row-gap: 8px;
  cursor: pointer;
  margin-top: 100px;

  .gallery-box {
    position: relative;

    img {
      height: 193px;
      width: 193px;
      object-fit: cover;
      border-radius: $radius;
      transition: 1 all;
    }

    .gallery-links {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0 auto;
      padding: 0;
      transform: translate(-50%, -50%);
      visibility: hidden;
    }
  }

  .gallery-links {
    li {
      display: inline;
      font-size: 0;

      i {
        font-size: 26px;
      }

      .fa-heart {
        padding: 10px;
        color: $color-danger;
      }

      .fa-share-alt {
        padding: 10px;
        color: $color-light;
      }
    }
  }

  .gallery-box:hover {
    img {
      opacity: 0.5;
    }

    .gallery-links {
      visibility: visible;
    }
  }
}

.instagram {
  text-align: left;
  padding: 10px auto;
  margin: 20px auto;

  a {
    color: $color-main;
  }
}

